html,
body {
	height: 100%;
	box-sizing: border-box;
}

body * {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cards {
	display: flex;
}

.card {
	width: 100px;
	height: 200px;
	border: 2px solid black;
}
